:root {
  --primary-color: #407076;
  --secondary-color: #698996;
  --background-color: #000000;
  --font-color: white;
  --heading-font: ;
  --spacing: ;
  --default-padding: 10px;
  --default-margin: 10px;
  --default-border-radius: 15px;
  --default-box-shadow: 0 0 5px 1px var(--secondary-color);
  --p-size: 20px;
  --h1-size: 26px;
  --h2-size: 24px;
  --h3-size: 20px;
  --img-size: ;
  --default-width: 33%;
  --default-height: 10%;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder {
  color: white;
}

